<!-- <div class="desktop-1">
   
    <div class="bg-1-icon"></div>
  
    <div class="un-update">UN UPDATE</div>
    <img class="hci-2-photoroom-1" alt="" src="./icon.png" />
    <button class="admin"><a routerLink="/login">Admin</a></button>
    <button class="club-events"><a routerLink="/clubevents">Club Events</a></button>
    <button class="internship">  <a routerLink="/internships">Internships</a></button>
    <button class="session"> <a routerLink="/sessions">Sessions</a></button>
    <div class="welcome-to">
      <p class="welcome">WELCOME</p>
      <p class="welcome">TO</p>
    </div>
    <b class="uniupdates">UNIUPDATES</b>
    <div class="you-will-be-container">
      <span>
        <span>You will be up to date with all activities and events taking place in our</span>
        <span class="it-department">IT department</span>
        <span>.</span>
      </span>
    </div>
  </div>
  
  <footer class="rectangle-parent12">
    <div class="frame-child21"></div>
    <div class="pict-all-rights1">2024 PICT. All rights reserved.</div>
  </footer>
  

 -->
 <body>
  <div class="desktop-1">
    <img class="bg-1-icon" alt="" src="./Screenshot 2024-04-04 204029.png" />

    <div class="desktop-1-child"></div>
    <div class="desktop-1-item"></div>
    <div class="desktop-1-inner"></div>
    <div class="rectangle-div"></div>
    <div class="un-update" >UN<span class="span-text">i</span>UPDATE</div>
    <!-- <div class="un-update">UN UPDATE</div> -->
 

    <div class="desktop-1-child1"></div>
    <button class="admin"><a routerLink="/login">Admin</a></button>
    <div class="desktop-1-child2"></div>
    <button class="club-events"><a routerLink="/clubevents">Club Events</a></button>
    <button class="internship"><a routerLink="/internships">Internships</a></button>
    <button class="session"><a routerLink="/sessions">Sessions</a></button>
    <div class="welcome-to">
      <p class="welcome">WELCOME</p>
      <p class="welcome">TO</p>
    </div>
    <b class="uniupdates">UNIUPDATES</b>
    <div class="you-will-be-container">
      <span>
        <span
          >You will be up to date with all activities and events taking place
          in our</span
        >
        <span class="span"> </span>
      </span>
      <span class="it-department"><a href="https://pict.edu/IT-dept/" > IT department </a></span>
      <span class="span">
        <span>.</span>
        <b class="b"> </b>
      </span>
    </div>
  </div>
  <!-- <a href="club.html">
    <button class="club-events"></button>
  </a> -->
  
  <footer class="rectangle-parent12">
    <div class="frame-child21"></div>
    <div class="pict-all-rights1">2024 PICT. All rights reserved.</div>
  </footer>

</body>