<body>
  <div class="internship3">
    <header class="internship-container">
      <div class="rectangle-parent18">
        <div class="frame-child28"></div>
        <div class="frame-parent8">
          <div class="frame-wrapper9">
           
          </div>
          <div class="frame-parent9">
            <div class="un-update-container">
              <div class="un-update2" style="text-align: center; margin-left: 300px;">UN<span class="span-text">i</span>UPDATE</div>
            </div>
            
          </div>
        </div>
        
      </div>
    </header>
    <section class="frame-parent10">
      <div class="internship-parent-wrapper">
        <div class="internship-parent">
          <div class="internship-parent-inner">
            <div class="rectangle-parent19 design-card">
              <div class="frame-child29"></div>
              <div class="frame-parent11">
                <div class="internship-1-wrapper">
                  <div class="internship-1">Internship 1</div>
                </div>
                <div class="frame-child30"></div>
              </div>
              <div class="company-name-website-container">
                <p class="company-name">Company Name:Barclays</p>
                <p class="website">Role:Database Developer</p>
                <p class="blank-line6">&nbsp;</p>
                <p class="date12">Date:13:04-24</p>
                <p class="time12">Time:3pm</p>
                <p class="blank-line">&nbsp;</p>
                <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
              </div>
            </div>
          </div>
          <div class="rectangle-parent20 design-card">
            <div class="frame-child31"></div>
            <div class="internship-2-parent">
              <div class="internship-2">Internship 2</div>
              <div class="line-wrapper1">
                <div class="frame-child32"></div>
              </div>
            </div>
            <div class="company-name-website-container">
              <p class="company-name1">Company Name:</p>
              <p class="website1">Role:</p>
              <p class="blank-line8">&nbsp;</p>
              <p class="date13">Date:</p>
              <p class="time13">Time:</p>
              <p class="blank-line9">&nbsp;</p>
             
              <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
            </div>
          </div>
          <div class="rectangle-parent21 design-card">
            <div class="frame-child33"></div>
            <div class="internship-3-parent">
              <div class="internship-3">Internship 3</div>
              <div class="frame-child34"></div>
            </div>
            <div class="company-name-website-container">
              <p class="company-name2">Company Name:</p>
              <p class="website2">Role:</p>
              <p class="blank-line10">&nbsp;</p>
              <p class="date14">Date:</p>
              <p class="time14">Time:</p>
              
              <p class="blank-line">&nbsp;</p>
              <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
            </div>
          </div>
        </div>
      </div>
      <footer class="rectangle-parent12">
        <div class="frame-child21"></div>
        <div class="pict-all-rights1">2024 PICT. All rights reserved.</div>
      </footer>
    </section>
  </div>
</body>