<body>
  <div class="club-events1">
    <div class="club-events-inner">
      <div class="group-div">
        <div class="frame-child4"></div>
        <div class="frame-parent2">
         
          <div class="frame-parent3">
            <div class="un-update-wrapper">
              <div class="un-update2" style="text-align: center; margin-left: 300px;">UN<span class="span-text">i</span>UPDATE</div>
            </div>
           
          </div>
        </div>

      </div>
    </div>
    <main class="club-events-child">
      <section class="frame-section">
        <div class="rectangle-parent3 design-card">
        
          <div class="frame-child5"></div>
          <div class="technical-organizations-parent">
            <div class="technical-organizations">
              <div class="pscb">PSCB</div>
            </div>
            <div class="event-details"></div>
          </div>
          <div class="event-name-about-container">
            <p class="event-name">Event name: Xenia</p>
            <p class="about">About: A 3 day event which focuses on technical skills</p>
            <p class="site">Site: www.xenia.com</p>
            <p class="date">Date:12-02-24 to 14-02:24</p>
            <p class="time">Time:11am-6pm</p>
            <p class="blank-line">&nbsp;</p>
            <a class="btn btn-dark btn-lg " id="btn-part" href="https://docs.google.com/forms/d/1nsDDL7EB3LkWmyYyn5e7Hk23KFs6J-1D7W3ngQeECZE/edit" role="button">Participate </a>
          </div>
        </div>
        <div class="rectangle-parent4 design-card">
          <div class="frame-child6"></div>
          <div class="frame-wrapper2">
            <div class="acm-parent">
              <div class="acm">ACM</div>
              <div class="line-wrapper">
                <div class="line-div"></div>
              </div>
            </div>
          </div>
          <div class="event-name-about-container">
            <p class="event-name1">Event name:</p>
            <p class="about1">About:</p>
            <p class="site1">Site:</p>
            <p class="date1">Date:</p>
            <p class="time1">Time:</p>
            <p class="blank-line">&nbsp;</p>
            <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
          </div>
        </div>
        <div class="rectangle-parent5 design-card">
          <div class="frame-child7"></div>
          <div class="frame-wrapper3">
            <div class="ieee-parent">
              <div class="ieee">IEEE</div>
              <div class="frame-child8"></div>
            </div>
          </div>
          <div class="event-name-about-container ">
            <p class="event-name2">Event name:</p>
            <p class="about2">About:</p>
            <p class="site2">Site:</p>
            <p class="date2">Date:</p>
            <p class="time2">Time:</p>
            <p class="blank-line">&nbsp;</p>
            <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
          </div>
        </div>
        <div class="rectangle-parent6 design-card">
          <div class="frame-child9"></div>
          <div class="frame-wrapper4">
            <div class="pscb-parent">
              <div class="pscb1">PSCB</div>
              <div class="frame-child10"></div>
            </div>
          </div>
          <div class="event-name-about-container">
            <p class="event-name3">Event name:</p>
            <p class="about3">About:</p>
            <p class="site3">Site:</p>
            <p class="date3">Date:</p>
            <p class="time3">Time:</p>
            <p class="blank-line">&nbsp;</p>
            <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
          </div>
        </div>
        <div class="rectangle-parent7 design-card">
          <div class="frame-child11"></div>
          <div class="frame-wrapper5">
            <div class="robocon-parent">
              <div class="robocon">Robocon</div>
              <div class="line-container">
                <div class="frame-child12"></div>
              </div>
            </div>
          </div>
          <div class="event-name-about-container">
            <p class="event-name4">Event name:</p>
            <p class="about4">About:</p>
            <p class="site4">Site:</p>
            <p class="date4">Date:</p>
            <p class="time4">Time:</p>
            <p class="blank-line">&nbsp;</p>
            <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
          </div>
        </div>
        <div class="rectangle-parent8 design-card">
          <div class="frame-child13"></div>
          <div class="frame-wrapper6">
            <div class="gamedevutopia-parent">
              <div class="gamedevutopia">GameDevutopia</div>
              <div class="line-frame">
                <div class="frame-child14"></div>
              </div>
            </div>
          </div>
          <div class="event-name-about-container">
            <p class="event-name5">Event name:</p>
            <p class="about5">About:</p>
            <p class="site5">Site:</p>
            <p class="date5">Date:</p>
            <p class="time5">Time:</p>
            <p class="blank-line">&nbsp;</p>
            <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
          </div>
        </div>
        <div class="rectangle-parent9 design-card">
          <div class="frame-child15"></div>
          <div class="frame-wrapper7">
            <div class="art-circle-parent">
              <div class="art-circle">Art circle</div>
              <div class="frame-child16"></div>
            </div>
          </div>
          <div class="event-name-about-container">
            <p class="event-name6">Event name:</p>
            <p class="about6">About:</p>
            <p class="site6">Site:</p>
            <p class="date6">Date:</p>
            <p class="time6">Time:</p>
            <p class="blank-line">&nbsp;</p>
            <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
          </div>
        </div>
        <div class="rectangle-parent10 design-card">
          <div class="frame-child17"></div>
          <div class="frame-parent4">
            <div class="pictoreal-wrapper">
              <div class="pictoreal">Pictoreal</div>
            </div>
            <div class="frame-child18"></div>
          </div>
          <div class="event-name-about-container">
            <p class="event-name7">Event name:</p>
            <p class="about7">About:</p>
            <p class="site7">Site:</p>
            <p class="date7">Date:</p>
            <p class="time7">Time:</p>
            <p class="blank-line">&nbsp;</p>
            <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
          </div>
        </div>
        <div class="rectangle-parent11 design-card">
          <div class="frame-child19"></div>
          <div class="frame-parent5">
            <div class="pac-wrapper">
              <div class="pac">PAC</div>
            </div>
            <div class="frame-child20"></div>
          </div>
          <div class="event-name-about-site-date-wrapper">
            <div class="event-name-about-container">
              <p class="event-name8">Event name:</p>
              <p class="about8">About:</p>
              <p class="site8">Site:</p>
              <p class="date8">Date:</p>
              <p class="time8">Time:</p>
              <p class="blank-line">&nbsp;</p>
              <a class="btn btn-dark btn-lg " id="btn-part" href="#" role="button">Participate </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="rectangle-parent12">
      <div class="frame-child21"></div>
      <div class="pict-all-rights1">2024 PICT. All rights reserved.</div>
    </footer>
  </div>
</body>